@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}